<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Asignacion de tareas
            </h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista de tareas</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table data-toggle="table"                     
                     data-search="true"
                     data-show-toggle="true"
                     data-show-columns="true"
                     data-locale="es-MX"
                     data-show-refresh="false"
                     data-page-size="10"
                     data-pagination="true"                     
                     data-show-export="true"
                     data-export-types="['excel', 'pdf']"
                     data-striped="true">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Area</th>
                            <th class="col-sm-6">Prioridad</th>
                            <th class="col-sm-1">Tarea asignada</th>
                            <th class="col-sm-1">Tipo de tarea</th> 
                            <th class="col-sm-1">Acciones Previstas para su atencion</th>
                            <th class="col-sm-1">Fecha de asignacion</th>
                            <th class="col-sm-1">Fecha comprometida de cierre</th>
                            <th class="col-sm-1">Horas diarias asignadas</th>
                            <th class="col-sm-1">Responsable de la tarea</th>
                            <th class="col-sm-1">Estado actual</th>
                            <th class="col-sm-1">Fecha de cierre (real)</th>
                            <th class="col-sm-1">Eficiencia</th>
                            
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyarticulos">
                      
                        <tr>
                            <td><input type="text" class="estilofila" disabled value=""></td>
                            <td><input type="text" class="estilofila" disabled value=""></td>
                            <td class="text-right"><input type="text" class=" " disabled value=""></td>
                            <td class="text-right"><input type="text" class=" " disabled value=""></td>
                            <td class="text-right"><input type="text" class=" " disabled value=""></td>
                            <td class="text-right"><input type="text" class=" " disabled value=""></td>
                            <td class="text-right"><input type="text" class=" " disabled value=""></td>
                            <td><button type="button" class="btn btn-default eliminarArticulo" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div> <!--div class="table-responsive"-->
        </div>
    </div>
</div>
