<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Asignacion de tareas
            </h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista de tareas</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>

            </ul>
            <div class="clearfix"></div>
        </div>
        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#agregartarea">Agregar tarea</button>
        <div class="x_content">
            <div class="">
                <table id="tareasAsignadas">
                 </table>
                    @*<table data-toggle="table"
                 data-search="true"
                 data-show-toggle="true"
                 data-show-columns="true"
                 data-locale="es-MX"
                 data-show-refresh="false"
                 data-page-size="10"
                 data-pagination="true"
                 data-striped="true"
                 id="tareasAsignadas">
                <thead class="vertical-align-head">
                    <tr >
                        <th>Area</th>
                        <th>Prioridad</th>
                        <th>Tarea asignada</th>
                        <th>Tipo de tarea</th>
                        <th>Acciones Previstas para su atencion</th>
                        <th>Fecha de asignacion</th>
                        <th>Fecha comprometida de cierre</th>
                        <th>Horas diarias asignadas</th>
                        <th>Responsable de la tarea</th>
                        <th>Estado actual</th>
                        <th>Fecha de cierre (real)</th>
                        <th>Eficiencia</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="tbodyarticulos">
                    <tr>
                        <td>Plataforma</td>
                        <td class="text-center"><span class="label label-danger">Alta</span></td>
                        <td>as dklash dasjdhaskj dhas daisudh aosuidh asiudha siuda ghsuida gsiagusiuagiuda gsdiuagdiausgdiausg daisu dgasuidg aisudg asiu dgasdukfhagsdkidaksjgs dghasd as daksj dgasjk gh </td>
                        <td class="text-center"><label >Proyecto</label></td>
                        <td>acciones previstas asdkj ahsdkja ghsdiuash gdiaush diaus dhaisu dhaisud hasiu dahisu dhasiud h</td>
                        <td class="text-center">12/02/2017 12:00</td>
                        <td class="text-center">21/02/2017 25:00</td>
                        <td class="text-center">2</td>
                        <td class="text-center">Ruben Cardenas<br /> Mike Rodriguez</td>
                        <td class="text-center"><label class="label label-success">Finalizado</label></td>
                        <td class="text-center">20/02/2017 15:16</td>
                        <td class="text-center">0</td>
                        <td>
                            <div class="text-center">
                                <button class="btn btn-default"><i class="fa fa-external-link">&nbsp;</i>Ver</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>*@
</div> <!--div class="table-responsive"-->
        </div>
    </div>
</div>

<!--Modal Agregar Tarea-->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="agregartarea">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Agregar tarea</h4>
            </div>
            <form class="">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Horas diarias asignadas</label>
                        <input type="number" id="" class="form-control" placeholder=" ">
                    </div>
                    <div class="form-group">
                        <label>Responsable de la terea</label>
                        <select class="selectpicker form-control" multiple>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>

                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>