<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Formulario de cambios en Ingeniería
            </h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Registros creados</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>       
            <div class="text-right">
                <a href="~/CambiosIngenieria/crud" class="btn btn-sm btn-default" id="btnnuevatarea">Crear formulario</a>
            </div>        
        <div class="x_content">
            <div class="">
                <div id="toolbar2" class="form-inline">
                    <button type="button" class="btn btn-default btn-sm btnfecha" id="fechapersonalizada">
                        <span>
                            <i class="fa fa-calendar"></i> Fecha Asignacion
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>                   
                </div>
                <table id="tareasIngenieria"@*tareasAsignadas*@
                       data-toolbar="#toolbar2"></table>
            </div> <!--div class="table-responsive"-->
        </div>
    </div>
</div>
<!--Modal Agregar Tarea-->
<script>
    $(document).ready(function () {
        var start = moment().subtract(0, 'year').startOf('year')
        var end = moment().subtract(0, 'year').endOf('year')
        var actual = moment().subtract(0, 'year').startOf('year')
        var unanterior = moment().subtract(1, 'year').startOf('year')
        var dosanterior = moment().subtract(2, 'year').startOf('year')
        var tresanterior = moment().subtract(3, 'year').startOf('year')
        $(function () {
            moment.locale('es');
            function cb(start, end) {
                $('#fechapersonalizada span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
                iniciofecha = start
                finfecha = end
            }
            $('#fechapersonalizada').daterangepicker({
                locale: {
                    format: 'DD/MM/YYYY',
                    applyLabel: 'Aplicar',
                    cancelLabel: 'Cancelar',
                    customRangeLabel: 'Personalizado',
                },
                startDate: start,
                endDate: end,
                ranges: {
                    'Gestion Actual': [moment().subtract(0, 'year').startOf('year'), moment().subtract(0, 'year').endOf('year')],
                    "Hace un Año": [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    'Hace dos Años': [moment().subtract(2, 'year').startOf('year'), moment().subtract(2, 'year').endOf('year')],
                    'Hace tres Años': [moment().subtract(3, 'year').startOf('year'), moment().subtract(3, 'year').endOf('year')],
                }
            }, cb);
            cb(start, end);
        });
        $('#fechapersonalizada').on('apply.daterangepicker', function (ev, picker) {
            retornarTablaTareasIngenieria();
        });
        retornarTablaTareasIngenieria();
    })
</script>