@{ 
    var areas = ViewBag.areas;
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Reportes cambios ingenieria
            </h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Registros creados</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        
        <div class="x_content">
            <div class="">
                <div id="toolbar2" class="form-inline">
                    <button type="button" class="btn btn-default btn-sm btnfecha" id="fechapersonalizada">
                        <span>
                            <i class="fa fa-calendar"></i> Fecha Asignacion
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <select class="selectpicker" name="area" id="areaReportes">
                        <option value="0" selected>Area (Todos)</option>
                        @foreach (var fila in areas)
                        {
                            <option value="@fila.IdArea">@fila.Area</option>
                        }
                    </select>
                    <select class="selectpicker" name="estado" id="idestadoReportes">
                        <option value="0" selected>Estado (Todos)</option>
                        <option value="1" >Enviado</option>
                        <option value="2" >Aprobado</option>
                        <option value="3" >Observado</option>
                        <option value="4" >Finalizado</option>
                    </select>
                </div>
                
                <table id="tareasIngenieriaReportes" @*tareasAsignadas*@
                       data-toolbar="#toolbar2"></table>
            </div> <!--div class="table-responsive"-->
        </div>
    </div>
</div>
<!--Modal Agregar Tarea-->
<script>
    $(document).ready(function () {
        var start = moment().subtract(0, 'year').startOf('year')
        var end = moment().subtract(0, 'year').endOf('year')
        var actual = moment().subtract(0, 'year').startOf('year')
        var unanterior = moment().subtract(1, 'year').startOf('year')
        var dosanterior = moment().subtract(2, 'year').startOf('year')
        var tresanterior = moment().subtract(3, 'year').startOf('year')
        $(function () {
            moment.locale('es');
            function cb(start, end) {
                $('#fechapersonalizada span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
                iniciofecha = start
                finfecha = end
            }
            $('#fechapersonalizada').daterangepicker({
                locale: {
                    format: 'DD/MM/YYYY',
                    applyLabel: 'Aplicar',
                    cancelLabel: 'Cancelar',
                    customRangeLabel: 'Personalizado',
                },
                startDate: start,
                endDate: end,
                ranges: {
                    'Gestion Actual': [moment().subtract(0, 'year').startOf('year'), moment().subtract(0, 'year').endOf('year')],
                    "Hace un Año": [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    'Hace dos Años': [moment().subtract(2, 'year').startOf('year'), moment().subtract(2, 'year').endOf('year')],
                    'Hace tres Años': [moment().subtract(3, 'year').startOf('year'), moment().subtract(3, 'year').endOf('year')],
                }
            }, cb);
            cb(start, end);
        });
        $('#fechapersonalizada').on('apply.daterangepicker', function (ev, picker) {
            retornarTablaTareasIngenieriaReportes();
        });
        retornarTablaTareasIngenieriaReportes();
    })
</script>
