<!-- Modal -->
<div id="modal_verEnlace" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
           
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Enlace</h4>
                </div>
                <div class="modal-body form form-horizontal">
                    <!--datos oficina-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                               
                                <div class="x_content">
                                    <!-- Contenido -->
                                    <dl class="dl-horizontal">
                                        <dt>Numero de Oficina</dt>
                                        <dd id="nroOficina"></dd>
                                        <dt>Oficina</dt>
                                        <dd id="nombreOficina"></dd>
                                        <dt>Tipo Oficina</dt>
                                        <dd id="tipoOficina"></dd>
                                        <dt>Departamento</dt>
                                        <dd id="departamento"></dd>
                                        <dt>Ciudad</dt>
                                        <dd id="ciudad"></dd>
                                        <dt>Direccion</dt>
                                        <dd id="direccion"></dd>

                                    </dl>
                                    <!-- FIN Contenido -->
                                </div>


                            </div>
                        </div>
                    </div>
                    <!--datos Enlace-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                
                                <div class="x_content">
                                    <!-- Contenido -->
                                    <dl class="dl-horizontal">
                                        <dt>Enlace</dt>
                                        <dd id="enlace"></dd>
                                        <dt>Proveedor</dt>
                                        <dd id="proveedor"></dd>
                                        <dt>Contrato</dt>
                                        <dd id="contrato"></dd>
                                        <dt>Tecnologia</dt>
                                        <dd id="tecnologia"></dd>
                                        <dt>Velocidad</dt>
                                        <dd id="velocidad"></dd>
                                        <dt>Mensualidad</dt>
                                        <dd id="mensualidad"></dd>
                                        <dt>Observaciones</dt>
                                        <dd id="observaciones"></dd>

                                    </dl>
                                    @*@if (Model.enlacesServicios.Count() > 0)
                                    {

                                        var auxservicio = Model.enlacesServicios.SingleOrDefault();
                                        <hr>
                                        <dl class="dl-horizontal">
                                            <dt>Servicio</dt>
                                            <dd>@auxservicio.servicio</dd>
                                            <dt>Direccion</dt>
                                            <dd>@auxservicio.direccion</dd>
                                        </dl>
                                    }
                                    @if (Model.enlacesInternet.Count() > 0)
                                    {

                                        var auxinternet = Model.enlacesInternet.SingleOrDefault();
                                        <hr>
                                        <dl class="dl-horizontal">
                                            <dt>Plan internet</dt>
                                            <dd>@auxinternet.planinternet</dd>
                                        </dl>
                                    }*@
                                    <!-- FIN Contenido -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>                  
                </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    function datosModal(x)
    {
        var result=JSON.parse(x.result)
        console.log(result)
        $("#nroOficina").html(result.oficinas.nroOficina);
        $("#nombreOficina").html(result.oficinas.nombre_oficina);
        $("#tipoOficina").html(result.oficinas.tipoOficina.tipo);
        $("#departamento").html(result.oficinas.ciudades.departamentos.departamento);
        $("#ciudad").html(result.oficinas.ciudades.ciudad);
        $("#direccion").html(result.oficinas.direccion);

        var enlace = (result.enlace == 1) ? "Primario" : "Secundario";
        var contratos = "";
        if (result.contratos > 0) {            
            $.each(result.contratos, function (index, value) {
                contratos += rvalue.contrato+",";
            })
        }
            

        $("#enlace").html(enlace)
        $("#proveedor").html(result.proveedores.proveedor);
        $("#contrato").html(contratos);
        $("#tecnologia").html(result.enlacesTecnologia.tecnologia);
        $("#velocidad").html(result.velocidad);
        $("#mensualidad").html(result.mensualidad);
        $("#observaciones").html(result.observaciones);


        $("#modal_verEnlace").modal("show");
    
    }
</script>