@model sistemainventario.Models.enlaces

@{
    //WebApplication2.Models.PessoaAplic Pessoa = (WebApplication2.Models.PessoaAplic)ViewBag.DadosPessoa;
    List<sistemainventario.Models.enlaces> enlacesNacional = ViewBag.nacional;
    List<sistemainventario.Models.enlaces> enlacesLocal = ViewBag.local;
    List<sistemainventario.Models.enlaces> enlacesServicios = ViewBag.servicios;
    List<sistemainventario.Models.enlaces> enlacesInternet = ViewBag.Internet;
    //sistemainventario.Models.enlaces modeloenlaces = sistemainventario.Models.enlaces;
}
@*@Html.TextBoxFor(x => x.enlace, new { @class = "form-control" })*@

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Comunicaciones <small> Enlaces </small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                @*<div class="x_title">
                    <h2><b>Enlaces </b><small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        
                    </ul>
                    <div class="clearfix"></div>
                </div>*@
                <div class="x_content">
                    <!-- content starts here -->
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#nacional" aria-controls="home" role="tab" data-toggle="tab">Enlace Nacional</a></li>
                            <li role="presentation"><a href="#local" aria-controls="profile" role="tab" data-toggle="tab">Enlaces Local</a></li>
                            <li role="presentation"><a href="#servicio" aria-controls="messages" role="tab" data-toggle="tab">Enlaces Servicio</a></li>
                            <li role="presentation"><a href="#internet" aria-controls="settings" role="tab" data-toggle="tab">Enlaces Internet</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="nacional">
                                <!--Nacional-->
                                @Html.Partial("tabla/tabla", new ViewDataDictionary {
                        { "datos", enlacesNacional },
                        {"titulo","Nacional" }
                })
                            </div>
                            <div role="tabpanel" class="tab-pane" id="local">
                                <!--Local-->
                                @Html.Partial("tabla/tabla", new ViewDataDictionary {
                        { "datos", enlacesLocal },
                        {"titulo","Local" }
                })

                            </div>
                            <div role="tabpanel" class="tab-pane" id="servicio">
                                <!--Servicio-->
                                @Html.Partial("tabla/tabla", new ViewDataDictionary {
                        { "datos", enlacesServicios },
                        {"titulo","Servicios" }
                })
                            </div>
                            <div role="tabpanel" class="tab-pane" id="internet">
                                <!--Internet-->
                                @Html.Partial("tabla/tabla", new ViewDataDictionary {
                        { "datos", enlacesInternet },
                        {"titulo","Internet" }
                })
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                    @{      /*Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath*/
                    }
                </div>
            </div>
        </div>
    </div>
</div> 


<!-- Modal -->
<form action=" " method="post" id="form_linea">
    @*@Html.TextBoxFor(x => x.enlace, new { @class = "form-control" })*@
    <div class="modal fade" id="modalEnlace" role="dialog">
        <input type="text" name="cod" value="" id="cod_linea" hidden> <!-- input oculto para el codigo de almacen-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title modalEnlaceNacionalTitulo"></h3>
                </div>
                <!--MODAL BODY-->
                <div class="modal-body form form-horizontal">
                    <fieldset>
                        <!-- Oficina-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="modalnombrelinea">Linea</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input autofocus name="" placeholder="Oficina" id="" class="form-control" type="text" style="text-transform:uppercase; " onkeyup="javascript:this.value=this.value.toUpperCase();">
                                </div>
                            </div>
                        </div>
                        <!-- Proveedor-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="modalnombrelinea">Proveedor</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input autofocus name="" placeholder="Oficina" id="" class="form-control" type="text" style="text-transform:uppercase; " onkeyup="javascript:this.value=this.value.toUpperCase();">
                                </div>
                            </div>
                        </div>
                        <!-- Tipo Enlace-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="modalnombrelinea">Tipo Enlace</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input autofocus name="" placeholder="Oficina" id="" class="form-control" type="text" style="text-transform:uppercase; " onkeyup="javascript:this.value=this.value.toUpperCase();">
                                </div>
                            </div>
                        </div>
                        <!-- Tecnologia-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="modalnombrelinea">Enlace tecnología</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input autofocus name="" placeholder="Oficina" id="" class="form-control" type="text" style="text-transform:uppercase; " onkeyup="javascript:this.value=this.value.toUpperCase();">
                                </div>
                            </div>
                        </div>
                        <!-- Velocidad-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="modalnombrelinea">Velocidad</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input autofocus name="" placeholder="Oficina" id="" class="form-control" type="text" style="text-transform:uppercase; " onkeyup="javascript:this.value=this.value.toUpperCase();">
                                </div>
                            </div>
                        </div>
                        <!-- Mensualidad-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="modalnombrelinea">Mensualidad</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input autofocus name="" placeholder="Oficina" id="" class="form-control" type="text" style="text-transform:uppercase; " onkeyup="javascript:this.value=this.value.toUpperCase();">
                                </div>
                            </div>
                        </div>
                        <!-- Observaciones-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="modalnombrelinea">Observaciones</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input autofocus name="" placeholder="Oficina" id="" class="form-control" type="text" style="text-transform:uppercase; " onkeyup="javascript:this.value=this.value.toUpperCase();">
                                </div>
                            </div>
                        </div>
                        <!-- Ciudad
                        <div class="form-group">
                          <label class="col-md-3 control-label">Ciudad</label>
                            <div class="col-md-9 selectContainer">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-pushpin"></i></span>
                                <select name="ciudad" class="form-control selectpicker" id="modalciudadalmacen" >
                                  <option value=" " >Selecciona</option>
                                  <option>La Paz</option>
                                  <option>Potosi</option>
                                  <option >Santa Cruz</option>
                                  <option >Tarija</option>
                                </select>
                             </div>
                          </div>
                        </div>-->
                        <!-- Uso -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">En Uso</label>
                            <div class="col-md-9">
                                <div class="radio">
                                    <label><input type="radio" name="enuso" value="1" checked /> Si </label>
                                    <label><input type="radio" name="enuso" value="0" /> No </label>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="bguardar_linea">Guardar</button>
                    </div>
                </div> <!-- /.<div class="modal-body form">-->
            </div>
        </div> <!-- /. modal -->
    </div>
</form>

